<html>
    <head>

        <% include head.ejs %>

    </head>
    <body>
        <div class="containner">

            <img src="icon.png"/>
            <p id='log'>Logado como <%= username %></p>

            <a href='play/<%= username %>'><button class='op' >Criar sala</button></a>
            <a href="salas"><button class='op'>Entrar em uma sala</button></a>
            <a href='local'><button class='op' >Criar partida local</button></a>

        </div>
    </body>
</html>