<html>
    <head>

        <% include head.ejs %>
        <link rel="stylesheet" href="/estilo/game.css">
        <script src="/scripts/ancian.js"></script>

    </head>
    <body>
        <div id='me'>
        </div>
        <div id="canvas">
        </div>
        <div id='you'></div>
    </body>
    <script>
        game = new Ancian(0,0)
    </script>
</html>