<html>
    <head>

        <% include head.ejs %>

    </head>
    <body>
        <div class="containner">

            <img src="icon.png"/>
            <p id='log'>Salas disponíveis</p>

            <div id="salas"></div>

        </div>

        <script src="/scripts/salas.js"></script>
    </body>
    <script>
    </script>
</html>