html{
    background-image: url(blur.jpg);
    font-family: Arial, Helvetica, sans-serif;
}

img{
    display: block;
    margin: auto;
    margin-top: 20vh;
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 20px white;
    width: 10vw;
    min-width: 100px;
}


form{

    display: block;
    margin: 40px;
    text-align: center;

}

input{
    border : none;
    padding: 10px;

}

#username{

    border-radius: 10px 0 0 10px;
    background-color: none;
    color: gray;

}

input[type=submit]{
    
    border-radius: 0 10px 10px 0;
    width: 30px;
    color:white;

}

input:focus{
    outline: none
}

#log{
    margin-top:20px;
    text-align: center;
    color: gray;
    margin-bottom: 40px;
}

.op{
    display: block;
    margin: 10px auto 10px auto;
    width: 150px;
    border:1px solid grey;
    border-radius: 10px;
    background:none;
    color: gray;
    height: 35px;;
}


#me{
    display: block;
    float: left;
    text-align: left;
}


#you{
    display: block;
    float: right;
    text-align: right;
}

#me,#you{
    padding: 20px;
}

.op:focus{
    outline: none;
}

a{
    text-decoration: none;
}

@media screen and (max-width: 600px){

    #me,#you{
        position: absolute;
    }

    #me{
        bottom: 0;
    }

    #you{
        top:0;
    }

}